{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OpenCard - Pi Payment Demo</title>
  <!-- Gắn CSS -->
 
  <!-- SDK của Pi -->
  
   {% load static %}
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
  <div class="card">
    <h1>OpenCard - Pay with Pi</h1>
    <p>Ứng dụng demo Django + HTML/JS, tích hợp thanh toán Pi Network.</p>

    <button id="authBtn">Đăng nhập bằng Pi</button><br>
    <button id="payBtn" disabled>Thanh toán 1 Pi</button>

    <h3>Kết quả:</h3>
    <pre id="result">(chưa có dữ liệu)</pre>
  </div>
  <script src="https://sdk.minepi.com/pi-sdk.js"></script>
  <!-- Gắn script riêng -->
  <script src="{% static 'core/script.js' %}"></script>
</body>
</html>
